# {
# 	email {$EMAIL_FOR_CA}
# }

(logging) {
	log {
		output file /var/log/caddy/access.log {
			roll_size     100mb
			roll_keep     10
			roll_keep_for 720h
		}

		format json {
		 	time_format iso8601
		}
		
		format console {
			time_format wall
		}

		format filter {
			# request>headers>User-Agent delete
			request>headers>Cookie cookie {
				replace session REDACTED
				delete secret
			}		
		}
	}
}

# Main site definition
{$DOMAIN:localhost} {

	# Import reusable snippets
	import logging

	# Enable response compression
	encode gzip zstd

	# Reverse proxy to the backend application
	reverse_proxy app:{$PORT} {
		header_up Host {http.request.host}
		header_up X-Real-IP {http.request.remote.host}
		header_up X-Forwarded-Proto {http.request.scheme}
	}

}
